---
layout: default
title: Diving Adventures
---

<p class="intro">
  Over it's history, Kish Sub Aqua Club has visited hundreds if not thousands of different dive sites around Ireland and beyond. There's always a few good stories that stand out, the remarkable tales that only seem to get better with each passing year (and pint ;-). Here's just a small selection from some of the more recent trips our members have been on.
</p>

<div id="gallery" class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      {% for video in site.gallery.videos %}
      <li {% if 2 == forloop.index %}class="active"{% endif %}>
        <a href="#{{video.embed}}" data-toggle="pill">{{ video.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-9 tab-content">
    {% for video in site.gallery.videos %}
      {% if 2 == forloop.index %}
        <div id="{{video.embed}}" class="tab-pane active in fade">
      {% else %}
        <div id="{{video.embed}}" class="tab-pane fade">
      {% endif %}
      <iframe class="hidden-xs" width="600" height="338" src="//www.youtube.com/embed/{{video.embed}}?rel=0" frameborder="0" allowfullscreen></iframe>
      <iframe class="visible-xs" width="280" height="210" src="//www.youtube.com/embed/{{video.embed}}?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    {% endfor %}
  </div>
</div>

{% for post in site.categories.adventures %}
<hr>
<div class="excerpt">
  <a href="{{ post.url }}">{{ post.title }}</a>
  <p>{{ post.excerpt }}</p>
</div>
{% endfor %}

