<footer>
  <div class="container">

    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="footer-link">
          <h5>Email</h5>
          <a href="mailto:kishtrainingofficer@gmail.com">Training Officer</a>
          <a href="mailto:committee@kishsac.org">Club Committee</a>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="footer-link">
          <h5>Links</h5>
          <a href="http://diving.ie">Comhairle Fo&#769;-Thuinn</a><br>
          <a href="http://www.cmas.org">World Underwater Federation</a><br>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="footer-link">
          <h5>Training</h5>
          <p>
            Wednesday at 8pm<br />
            Guinness Bicentenary Pool<br />
            Watling Street<br />
            Dublin 8
          </p>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="footer-link">
          <h5>Legal</h5>
          <p>
            Registered in Ireland<br />
            Kish Sub Aqua Club Limited<br />
            Company No: 321633
          </p>
        </div>
      </div>
    </div>

  </div>
</footer>

