<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <h1>
            <a href="/">Kish Sub Aqua Club</a>
          </h1>
        </div>
      </div>
      <div class="navigation pull-right">
        <a href="/learn.html" title="Learn to Dive">Learn</a>
        <a href="/adventure.html" title="Diving Adventures">Adventure</a>
        <a href="/calendar.html" title="Current Season">Calendar</a>
        <a href="mailto:kishtrainingofficer@gmail.com?subject=Contact Us" title="Contact Us">Contact</a>
      </div>
    </div>
  </div>
</header>

