<!DOCTYPE html>
<html>
  <head>
    <title>Kish Sub Aqua Club</title>
    {% include head.html %}
  </head>
  <body>

    <div class="top">

      {% include header.html %}

      <div class="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="intro">
                <h2>Learn To Dive</h2>
                <p>
                  At Kish Sub Aqua Club, we offer a no obligation opportunity to try diving in a safe pool environment.
                  <a href="/learn.html">Learn More</a>
                  <br />
                  <br />
                  Contact us now and experience the wonders of scuba.
                </p>
                <br />
                <a href="mailto:kishtrainingofficer@gmail.com?subject=Try a Dive" class="btn btn-primary">Contact Us and Try a Dive</a>
              </div>
            </div>
            <div id="video" class="col-md-6">
              <div class="shot hidden-xs">
                <iframe width="420" height="315" src="//www.youtube.com/embed/y3zAQ4HYgrU?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="shot visible-xs">
                <iframe width="280" height="210" src="//www.youtube.com/embed/y3zAQ4HYgrU?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    {{ content }}

    {% include footer.html %}
    {% include scripts.html %}

  </body>
</html>
